body{
    background-color: antiquewhite;
    text-align: center;
    font-family:Arial;
}
h1{
    color:deeppink;
}
h2{
    color:darkorchid
}
ul,ol{
    list-style-position: inside;
}
li{
    border:2px solid blue;
    margin:0 33% 0 33%;
}
